<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <section class="banner d-flex justify-content-center align-items-center">
    	
    	<div class="text-center">
    		<h1 class="font-weight-bold">Smart Contact Manager</h1>
    		<p>
    			Start Collecting your Contacts in very Smarter way. we provide very
    			efficient and smarter way of handling contacts.	
    		</p>
    		
    		<button type="button" class="btn bg-primary btn-lg text-white">Get Start</button>
    	</div>
    </section>
</body>
</html>