<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>HomePage</title>
</head>
<body>
	<section>

		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-1">
					
						<div th:if = "${session.message}" th:classappend="${session.message.type}" class="alert " role="alert">
  							<p class="text-center" th:text="${session.message.content}"></p>
  							
  							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
						<div class="container text-center">
							<img style="width: 80px;" alt="register_img" src="" th:src="@{/img/icon.png}">
						</div>
						<h1 class="text-center">Register Here!</h1>

						<form novalidate th:action="@{/do_register}" method="post" th:object="${user}">

							<!-- Name Fields -->
							<div class="form-group">
							
								<label for="name_field">Your Name</label> 
									<input 
									name="name"
									type="text" 
									class="form-control"
									th:classappend="${#fields.hasErrors('name')? 'is-invalid':''}"
									id="name_field"
									aria-describedby="emailHelp"
									placeholder="Enter here"
									required
									th:value="${user.name}"
									/>
									<div id="validationServer03Feedback" class="invalid-feedback"
										th:each="e:${#fields.errors('name')}" th:text="${e}">
      										
    								</div>
							</div>
							
							<!-- Email Fields -->
							<div class="mb-3">
							
								<label for="email_field" class="form-label">Your Email</label> 
									<input 
									name="email"
									type="email" 
									class="form-control"
									th:classappend="${#fields.hasErrors('email')? 'is-invalid':''}"
									id="email_field"
									aria-describedby="emailHelp"
									placeholder="Enter here"
									required
									th:value="${user.email}"
									/>
									<div id="validationServer03Feedback" class="invalid-feedback"
										th:each="e:${#fields.errors('email')}" th:text="${e}">
      										
    								</div>
							</div>
							
							<!-- Password Fields -->
							<div class="mb-3">
							
								<label for="password_field" class="form-label">Your Password</label> 
									<input 
									name="password"
									type="password" 
									class="form-control"
									id="password_field"
									aria-describedby="emailHelp"
									placeholder="Enter here"
									required/>
							</div>
							
							<!-- user about field -->
							
							<div class="form-group">
								<textarea name="about" 
									th:text="${user.about}" 
									placeholder="Enter something yourself" 
									rows="5" class="form-control">
								</textarea>
								
							</div>
							 
							 
							 <!-- terms and condition check box -->
							 
							 <div class="form-group form-check">
							 	<input type="checkbox" name = agreement class = "form-check-input" id="agreement"/>
							 	<label for="agreement">Accept terms and conditions</label>
							 </div>
							
							
							<div class="container text-center  ">

									<button type = "submit" class = "btn bg-primary  text-white">
										Submit
									</button>
									<button type="reset"class = "btn btn-warning 	 text-white">
										Reset
									</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>
</html>